* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #264653;
    font-family: sans-serif;
    color: #e9c46a;
    font-weight: 700;
}
h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1%;
}
.game {
    margin-bottom: 5%;
    
}
ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    margin: 2% auto 1% auto;
    max-width: 500px;
}
button {
    padding: 0.625rem 1.25rem;
    background-color: #2a9d8f;
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
    font-size: 1.5rem;
}
.color-picker {
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.container {
    margin: auto;
}    
.new-Div {
    background-color: white;
    border: 1px solid black;
   
}
.container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
footer {
    
    
    bottom: 1px;
}
.footer-link {
    color: #f4a261;
    font-weight: bold;
    transition: all 0.2s;
}
@media (max-width: 530px) {
    * {
        font-size: 13px;
    }
    ul {
        margin-top: 8%;
    }
    .container{
        width:90vw;
        height:90vw;
        border: 1px solid black;
        margin-top: 5%;
    }
    footer {
        bottom: 0%;
        position: fixed;
    }
}